<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <mat-form-field class="full-width">
    <input
      formControlName="username"
      required
      name="username"
      type="text"
      matInput
      placeholder="Username">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input
      formControlName="password"
      required
      name="password"
      type="password"
      matInput
      placeholder="Password">
  </mat-form-field>
  <button type="submit" mat-button color="accent">Login</button>
</form>
