<div class="Dashboard">
  <h2 class="mat-display-3 text-center">Todo Lists</h2>
  <div class="TodoLists" *ngIf="todoLists">
    <mat-card class="TodoList" *ngFor="let todoList of todoLists; let i = index">
      <mat-card-title>{{todoList.title}}</mat-card-title>
      <mat-card-content>

        <mat-selection-list>
          <mat-list-option *ngFor="let item of todoList.items">{{item.task}}</mat-list-option>
        </mat-selection-list>

      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="'/dashboard/edit'" (click)="onEditTodo(todoList)" mat-button>Edit</button>
        <button (click)="onDeleteTodo(i)" mat-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
