<div class="Create-todo">
  <mat-card *ngFor="let todo of todos">
    <form>

      <!-- todoList Title -->
      <mat-card-title>
        {{ todo.title }}
      </mat-card-title>
      <!-- /todoList Title -->

      <mat-card-content>
        <!-- todoItems -->
        <mat-selection-list>
          <mat-list-option *ngFor="let todoItem of todo.items">{{ todoItem.task }}</mat-list-option>
        </mat-selection-list>
        <!-- /todoItems -->
      </mat-card-content>

      <mat-card-actions>
        <!-- todoList buttons -->
        <button mat-raised-button color="accent">Edit List</button>
        <!-- /todoList buttons -->
      </mat-card-actions>
    </form>
  </mat-card>
</div>

