.Todos {
  display: grid;
  grid-gap: 20px;
}


@media (min-width: 576px) {
  .Todos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .Todos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {}
