@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/** Center Element **/
.text-center {
  text-align: center;
}

/** Bootstrap style container **/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/** /Bootstrap Style COntainer **/

/** Full width for input form fields **/
.full-width {
    width: 100%;
}

.flash-danger {
    background-color: #F44336;
    margin: 5px 0;
    padding: 0 8px;
    color: #fff;
    font-weight: bold;
    border: 2px solid transparent;
}

.flash-success {
    background-color: #A5D6A7;
    margin: 5px 0;
    padding: 0 8px;
    color: #000;
    font-weight: bold;
    border: 2px solid transparent;
}
