<div class="Create-todo">
  <mat-card>
    <form>

      <!-- todoList Title -->
      <mat-card-title>
        <mat-form-field class="full-width Create-todo__title-input">
          <input
            [(ngModel)]="title"
            name="title"
            matInput
            placeholder="Todo List title">
        </mat-form-field>
      </mat-card-title>
      <!-- /todoList Title -->

      <mat-card-content>

        <!-- todoItems -->
        <mat-selection-list #selectionList>
          <mat-list-option
            [disabled]="isEdit && createTodoService.getEditIndex() !== i"
            (selectionChange)="onTodoItemSelected(i)"
            *ngFor="let item of todoItems; let i = index">
            {{item.task}}
          </mat-list-option>
        </mat-selection-list>
        <!-- /todoItems -->

        <!-- todoItem input -->
        <mat-form-field class="full-width Create-todo_todo-input">
          <input
            [(ngModel)]="task"
            name="task"
            matInput
            placeholder="Todo"
            [value]="isEdit ? createTodoService.todoItem.task : ''">
        </mat-form-field>
        <!-- /todoItem input -->

        <!-- todoItem buttons -->
        <div class="Create-todo__buttons" *ngIf="task.trim() !== '' || isEdit">
          <button (click)="onTodoSubmit()" mat-icon-button>
            <mat-icon aria-label="check icon" color="primary">check</mat-icon>
          </button>
          <button (click)="onTodoClear()" mat-icon-button>
            <mat-icon aria-label="close icon">close</mat-icon>
          </button>
          <button [disabled]="!isEdit" (click)="onTodoDelete()" mat-icon-button color="warn">
            <mat-icon aria-label="close icon">delete</mat-icon>
          </button>
        </div>
        <!-- /todoItem buttons -->

      </mat-card-content>


      <mat-card-actions>

        <!-- todoList buttons -->
        <button
          [disabled]="title.trim() === '' || todoItems.length === 0"
          (click)="onCreateTodoList()" mat-raised-button color="accent">Create List</button>
        <button (click)="onTodoListCancel()" mat-button color="warn">Cancel</button>
        <!-- /todoList buttons -->

      </mat-card-actions>
    </form>
  </mat-card>
</div>
